<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @app_module_name %></title>
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= @render_function %>
      </main>
    </div> <!-- /container -->

    <%= @assets_script_conditional %>

  </body>
</html>
